<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
      <settings>
        <setting name="xConnect.ContactSource" value="SUGCONANZ"/>
        <setting name="xConnect.ChannelId" value="{03119E3C-5FC0-4216-ABCB-271BCEA239FD}"/>
        <setting name="xConnect.InteractionUserAgent" value="SUGCONANZ Demo App"/>
      </settings>
      <pipelines>
        <initialize>
          <processor type="SUGCON2019Cortex.Website.Routes.InitRoutes, SUGCON2019Cortex.Website" patch:after="processor[@type='Sitecore.Services.Infrastructure.Sitecore.Pipelines.ServicesWebApiInitializer, Sitecore.Services.Infrastructure.Sitecore']" />
        </initialize>
      </pipelines>

      <services>
        <configurator type="SUGCON2019Cortex.Website.DemoServicesConfigurator, SUGCON2019Cortex.Website"/>
        <register serviceType="SUGCON2019Cortex.Website.Generators.Contacts.IContactGenerator, SUGCON2019Cortex.Website" implementationType="SUGCON2019Cortex.Website.Generators.Contacts.ContactGenerator, SUGCON2019Cortex.Website" />
        <register serviceType="SUGCON2019Cortex.Website.Generators.IRandomGenerator, SUGCON2019Cortex.Website" implementationType="SUGCON2019Cortex.Website.Generators.RandomGenerator, SUGCON2019Cortex.Website" />
      </services>
    </sitecore>
</configuration>